body{
	font-family: sans-serif;
}

/*#main-header{
	align-items: bottom;
}*/

ul{
	list-style-type: none;
}

img{
	width: 100%;
}

h1{
	font-size: 50px;
	font-family: sans-serif;
}

h2{
	font-size: 21px;
	font-family: sans-serif;
}

a{
	text-decoration: none;
}

a.nav-links{
	font-family: sans-serif;
}

/*unvisited link*/
a:link{
	color: black;
}

/*visited & active link*/
a:hover, a:visited {
    background-color: red;
}

.nav-links{
	font-weight: bold;
	color: black;
}

.flex-container{
	display: flex;
}

.logo{
	width: 100%;

}

.image-container{
	width: 250px;
}

/*.flex-item{
	flex: 1;
}*/