/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------- START OF MY CSS STYLING ---------*/



body {
    font-family: sans-serif;
}

header {
    padding-top: 50px;
}

ul {
    list-style-type: none;
}

figure {
    margin: 15px 50px 0 50px;
}

img {
    width: 80%;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
}

h2 {
    font-size: 21px;
    font-family: sans-serif;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 0 20px 0 0;
}

nav li:not(:first-child) {
    border-left: 2px solid black;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a.nav-links {
    font-family: sans-serif;
}


/*unvisited link*/
a:link {
    color: green;
}


/*visited & active link*/
.nav-links:hover,
.nav-links:visited {
    border-color: green; 
    border-bottom: line;
    border-radius: 5px;
}

.nav-links {
    font-weight: bold;
    color: black;
}

.flex-container {
    display: flex;
}

.logo {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.image-container {
    width: 250px;
}