/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*-------- START OF MY CSS STYLING ---------*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,200,400,900');



#page-wrapper {
    text-align: left;
    width: 97%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}



body {
    font-family: 'Barlow Semi Condensed', Palatino, sans-serif;

}

#bg-image {
    background-repeat: none;
    background-size: cover;
    background-image: url("../img/design1_image1.jpeg");
    background-position: top -50px center;
    height: 250px;
}

.flex-container {
    display: flex;
    flex-direction: column
}

ul.flex-container {
    flex-direction: row;
    position: absolute;
    top: 30px;
    right: 10px;
}

h1 {
    font-family: "Barlow black900";
    font-style: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px 0 0 10px;
    color: #1e211e;
    width: 50%;
}

h2 {
    padding: 10px 0 5px 0;
    font-weight: bold;
    font-size: 25px;
}

h2:nth-child(1) {
    padding: 0 0 5px 0;
}



div #titel-line {
    height: 41px;
}

#black-box {
    background-color: black;
    color: white;
    padding: 8px 0;
    text-align: center;
}

#content {
    display: flex;
}

#season-plan {
    font-weight: bold;
    font-size: 25px;
}

h3:not(.the-first) {
    padding: 25px 0 5px 0;
    font-weight: bold;
    font-size: 21px;
}

.the-first {
    padding: -25px 0 5px 0;
}

.nav-links {
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}

nav .flex-container{
    height: 50px;
}

nav .flex-container li{
   flex: 1;
}

.flex-container li a{
     background-color: darkblue;
     display: inline-block;
}

.nav-links:hover {
    background-color: lightgreen;
}

#logo {
    width: 60%;
    margin: 50px 0;
}

ul {
    list-style-type: none;
    font-family: "Barlow Thin"
}

#navi {
    min-width: 150px;
}

li {
    margin: 0 10px;
    min-width: 150px;
}

.nav-links {
    margin: 0;
    font-weight: bold;
    width: 90%;
    text-align: center;
}

a.nav-links {
    padding: 10px;
}

a.nav-links.active{
    background-color: #83ce75;
}

aside {
    flex: 1;
    min-width: 200px;
}

main {
    flex: 5;
    padding-top: 50px;
    min-height: 500px; 
}
