-/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*-------- START OF MY CSS STYLING ---------*/

#page-wrapper {
    text-align: left;
    width: 97%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}



body {
    font-family: 'Barlow Condensed', Palatino, sans-serif;

}

/* this will be a potential long list. 
better to add, then to exclude. 
In this case a class for the header where you want to have the style is better.
But nice to use the :not() ;)
*/
header:not(#season-plan) {
    margin: 10 0 0 0;
    flex-direction: column
}

#bg-image {
    background-repeat: none;
    background-size: cover;
    background-image: url("../img/design1_image1.jpeg");
    /* position not working like this... */
    background-position: top -50px center; 
    height: 250px;
}

.flex-container {
    display: flex;
    flex-direction: column
}

h1 {
    font-style: bold;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0 0 10px;
    color: white;
}

h2 {
    padding: 10px 0 5px 0;
    font-weight: bold;
    font-size: 25px;
}

/* denglish */
div #titel-line {
    height: 41px;
}

#black-box {
    background-color: black;
    color: white;
    padding: 8px 0;
    text-align: center;
}

#content {
    display: flex;
}

#season-plan {
    font-weight: bold;
    font-size: 25px;
}

h3:not(.the-first) {
    padding: 25px 0 5px 0;
    font-weight: bold;
    font-size: 21px;
}

.the-first {
    padding: -25px 0 5px 0;
}

.nav-links {
    font-weight: bold;
    text-decoration: none;
    color: green;
    font-size: 25px;
    margin-bottom: 10px;
}

.nav-links:hover {
    color: lightgreen;
}

#logo-container {
    width: 120px;
    float: right;
    margin-right: 150px;
    margin-top: -85px;

}

#logo {
    width: 100%;
}

ul {
    list-style-type: none;
}

#navi {
    min-width: 150px;
}

li {
    margin: 10px 0;
    min-width: 150px;
}

.nav-links {
    margin: 200px 0 50px 0;
    font-weight: bold;
}

aside {
    padding: 25px 100px 0 0;
}

main {
    padding: 25px 150px 0 0;
 /*   margin-right: 150px;*/
}

/*main#contact-info {
    padding-top: 25px;
}
