body {
    font-family: sans-serif;
}

header {
    padding-top: 50px;
}

ul {
    list-style-type: none;
}

figure {
    margin: 15px 50px 0 50px;
}

img {
    width: 80%;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
}

h2 {
    font-size: 21px;
    font-family: sans-serif;
}

nav ul {
    padding: 0;
}

nav li {
    padding: 0 20px 0 0;
}

nav li:not(:first-child) {
    border-left: 2px solid black;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a.nav-links {
    font-family: sans-serif;
}


/*unvisited link*/

a:link {
    color: black;
}


/*visited & active link*/

a:hover,
a:visited {
    background-color: red;
}

.nav-links {
    font-weight: bold;
    color: black;
}

.flex-container {
    display: flex;
}

.logo {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.image-container {
    width: 250px;
}